<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <!-- OktaTenantUrl is required and must match the url of the Okta organization where you manage users you can sign in with-->
  <add key="OktaTenantUrl" value="https://[tenantname].okta{preview}.com"/>
  <!-- OktaApiKey is necessary to be able to create an Okta user-->
  <add key="OktaApiKey" value="[Value from the Security -> API -> Create Token window]"/>
  <add key="NewUserLogin" value="user@example.com"/>
  <add key="NewUserEmail" value="valid_email@example.com"/>
</appSettings>